<mat-nav-list>

  <mat-toolbar>
    <mat-toolbar-row>
      <h2> Menu </h2>
    </mat-toolbar-row>
  </mat-toolbar>

  <h2 matSubheader> Report </h2>
  <a mat-list-item routerLink="/main/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/main/simple" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Simple</span>
  </a>

  <h2 matSubheader> User </h2>
  <a mat-list-item [routerLink]="['/login']" (click)="onSidenavClose()">
    <mat-icon>lock</mat-icon><span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>