<h2 mat-dialog-title>Confirm Delete</h2>
<mat-dialog-content class="mat-typography">
  <h3>You have selected to delete this ?</h3>
  <p>If this was the action that you wanted to do, please confirm you choice, or cancel and return to the page.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close mat-raised-button color="warn">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-raised-button color="primary">OK</button>
</mat-dialog-actions>