<mat-card>
  <mat-card-header>
    <mat-card-title>Home Edit</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content class="home-edit-content">
    <div fxLayout="row">
      <div fxFlex="10"></div>
      <div fxFlex="23" fxLayoutAlign="center center">
        <h4>Symbol : </h4>
      </div>
      <div fxFlex="67" fxLayoutAlign="start center" class="home-edit-container">
        <mat-form-field>
          <input matInput placeholder="Please input symbol" [(ngModel)]="symbol">
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-button mat-raised-button color="warn" [routerLink]="['/main/home']">Cancel</button>
    <button mat-button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card-actions>
</mat-card>