<mat-toolbar color="primary" class="material-toolbar">

  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

  </div>

  <span> Angular Starter </span>
  <span class="toolbar-spacer"></span>

  <!-- <div fxLayout="row">
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/login']">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div> -->

</mat-toolbar>