.login-root{
  background-color: #ff9800 !important;
  height: 100%;
}

 .login-outer{
  width: 450px  !important;
  margin: 0px auto  !important;
  padding-top: 60px;
}

.login-panel{
  padding: 30px
}

.full-width{
  width: 100%;
}

.text-right{
  text-align: right;
}
