<div class="login-root">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-outer">
      <mat-card class="login-panel">
          <mat-card-title>
            Login
          </mat-card-title>
          <mat-card-content>
              <mat-form-field class="full-width">
                  <input matInput placeholder="Username" formControlName="username" value="" />
              </mat-form-field>
              <mat-form-field class="full-width">
                  <input matInput type="password" placeholder="Password" class="form-control" formControlName="password" />
              </mat-form-field>
              <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </mat-card-content>
          <mat-card-actions class="text-right">
              <button  [disabled]="loading" mat-raised-button color="primary">Login</button>
          </mat-card-actions>
      </mat-card>
    </div>
  </form>
</div>
