/* .toolbar{
  z-index: 9999;
  background-color: #ff9800;
}

.sidenav{
   background-color: white;
   width: 210px;
   border:none;
   z-index: 99;
}

.sidenav mat-toolbar{
  background-color: #ff9800;

}

.sidenav mat-nav-list{
  margin-top: -10px;
}
.main-content{
  background-color: #33c9dc;
  margin-left: 210px;
}

.content{
  padding: 30px;
} */

/* .toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.container {
margin: 25px 25px 25px 25px;
} */

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}