<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
      <mat-toolbar>Angular Starter</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/main/home" routerLinkActive="active" class="nav-link">Home</a>
        <a mat-list-item routerLink="/main/simple" routerLinkActive="active" class="nav-link">Simple</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-drawer>
</mat-drawer-container> -->


<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <br/>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>